<div class="row">
  <div class="medium-12 medium-centered columns text centered">
    <h3><%= @tent.name %></h3>
  </div>
</div>

<div class="row">
  <div class="medium-3 columns float left" id="box">
    <ul>
      <li> User: <%= @tent.user.username %> </li>
      <li> Brand: <%= @tent.brand %> </li>
      <li> Capacity: <%= @tent.capacity %> </li>
      <li> Type: <%= @tent.use %> </li>
      <li> Condition: <%= @tent.condition %> </li>
    </ul>
    <br>
    <% if current_user == @tent.user %>
      <div class="text-center"><%= link_to "Edit Tent", edit_tent_path, class: "button radius tiny" %></div>
    <% end %>
  </div>
  <div class="medium-6 medium-centered columns float left">
    <% if @tent.image_file_name %>
      <%= image_tag @tent.image.url(:medium) %>
    <% end %>
  </div>
</div>
