<div class="row">
  <h2 class="text-center"> <%= @name %> </h2>
  <div class="medium-7 medium-centered columns" id="box">
    <h3 class="text-center"> <%= @data["trip"]["title"] %> </h3>
    <h5 class="text-center">(Data pulled from <%= @data["trip"]["period_of_record"]["date_start"]["date"]["year"] %> to <%= @data["trip"]["period_of_record"]["date_end"]["date"]["year"] %>)</h5>
  </div>
  <br>
  <ul class="small-block-grid-1 medium-block-grid-3">
    <li><div class="text-center" id="box">
        <h3> High Temp </h3>
        <ul>
          <li> Max: <%= @data["trip"]["temp_high"]["max"]["F"] %> ℉ </li>
          <li> Avg: <%= @data["trip"]["temp_high"]["avg"]["F"] %> ℉ </li>
          <li> Min: <%= @data["trip"]["temp_high"]["min"]["F"] %> ℉</li>
        </ul>
      </div></li>

    <li><div class="text-center" id="box">
        <h3> Low Temp </h3>
        <ul>
          <li> Max: <%= @data["trip"]["temp_low"]["max"]["F"] %> ℉ </li>
          <li> Avg: <%= @data["trip"]["temp_low"]["avg"]["F"] %> ℉ </li>
          <li> Min: <%= @data["trip"]["temp_low"]["min"]["F"] %> ℉ </li>
        </ul>
      </div></li>

    <li><div class="text-center" id="box">
        <h3> Precipitation </h3>
        <ul>
          <li> Chance of Rain: <%= @data["trip"]["chance_of"]["chanceofrainday"]["percentage"] %>% </li>
          <li> Chance of Thunderstorms: <%= @data["trip"]["chance_of"]["chanceofthunderday"]["percentage"] %>% </li>
          <li> Chance of Snow: <%= @data["trip"]["chance_of"]["chanceofsnowday"]["percentage"] %>% </li>
        </ul>
      </div></li>
  </ul>
</div>

<div class="row">

  <div class="medium-7 medium-centered text-center columns" id="box">
    <h4> Here is Some Gear Appropriate for your Trip <br> from users near your destination </h4>
  </div>
  <ul class="small-block-grid-1 medium-block-grid-3">
  <li><div class="text-center" id="box">
    <h5> Sleepingbags </h5>
    <ul>
      <% unless @sleepingbags.nil? %>
        <% @sleepingbags.each do |sleepingbag| %>
          <li> <%= link_to sleepingbag.name, sleepingbag %> : <%= sleepingbag.user.username %></li>
        <% end %>
      <% end %>
    </ul>
  </div></li>

  <li><div class="text-center" id="box">
    <h5> Backpacks </h5>
    <ul>
      <% unless @backpacks.nil? %>
        <% @backpacks.each do |backpack| %>
          <li> <%= link_to backpack.name, backpack %> : <%= backpack.user.username %></li>
        <% end %>
      <% end %>
    </ul>
  </div></li>

  <li><div class="text-center" id="box">
    <h5> Tents </h5>
    <ul>
      <% unless @tents.nil? %>
        <% @tents.each do |tent| %>
          <li> <%= link_to tent.name, tent %> : <%= tent.user.username %></li>
        <% end %>
      <% end %>
    </ul>
  </div></li>
</div>
