<div class="row">
  <% if @sleepingbag.errors.present? %>
    <div class="large-12 alert-box alert" data-alert>
      <ul>
        <% @sleepingbag.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
<br>

<div class="row">
  <div class="medium-6 medium-centered columns" id="box">
    <h2 class="text-center">Edit sleepingbag</h2>

      <%= form_for @sleepingbag do |f| %>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :brand %>
        <%= f.text_field :brand %>

        <%= f.label "Temperature Rating (℉)" %>
        <%= f.select :temp_rating, options_for_select(50.downto(-40)) %>

        <%= f.label :size %>
        <%= f.select :size, options_for_select(Sleepingbag::SIZES) %>

        <%= f.label :fill %>
        <%= f.select :fill, options_for_select(Sleepingbag::FILL) %>

        <%= f.label :condition %>
        <%= f.select :condition, options_for_select(Sleepingbag::CONDITION) %>

        <%= f.label :image %>
        <%= f.file_field :image %>

        <%= f.submit "Update", class: "button radius small" %>
      <% end %>

  </div>
</div>
