<div class="row">
  <div class="medium-12 medium-centered columns text centered">
    <h3><%= @sleepingbag.name %></h3>
    <h5> User: <%= @sleepingbag.user.username %> </h5>
  </div>
</div>

<div class="row">
  <div class="medium-12 medium-centered columns text centered">
    <ul>
      <li> Brand: <%= @sleepingbag.brand %> </li>
      <li> Temperature Rating: <%= @sleepingbag.temp_rating %> </li>
      <li> Size: <%= @sleepingbag.size %> </li>
      <li> Fill Material: <%= @sleepingbag.fill %> </li>
      <li> Condition: <%= @sleepingbag.condition %> </li>
    </ul>
  </div>
</div>
