<div class="row">
  <div class="medium-12 medium-centered columns ">
    <h2><%= @sleepingbag.name %></h2>
  </div>
</div>

<div class="row">
  <div class="medium-3 columns float left" id="box">
    <ul>
      <li> User: <%= @sleepingbag.user.username %> </li>
      <li> Brand: <%= @sleepingbag.brand %> </li>
      <li> Temperature Rating (℉): <%= @sleepingbag.temp_rating %> </li>
      <li> Size: <%= @sleepingbag.size %> </li>
      <li> Condition: <%= @sleepingbag.condition %> </li>
      <li> Fill: <%= @sleepingbag.fill %> </li>
    <ul>
    <br>
    <% if current_user == @sleepingbag.user %>
      <div class="text-center"><%= link_to "Edit sleepingbag", edit_sleepingbag_path, class: "button radius tiny" %></div>
    <% end %>
  </div>
  <div class="medium-6 medium-centered columns text centered float left">
    <% if @sleepingbag.image_file_name %>
      <%= image_tag @sleepingbag.image.url(:medium) %>
    <% end %>
  </div>
</div>
