<div class="row">
  <div class="medium-12 medium-centered columns ">
    <h3><%= @sleepingbag.name %></h3>
    <h5> User: <%= @sleepingbag.user.username %> </h5>
  </div>
</div>

<div class="row">
  <div class="medium-6 medium-centered columns float left">
    <table>
      <tbody>
        <tr>
          <td> Brand: </td>
          <td> <%= @sleepingbag.brand %> </td>
        </tr>
        <tr>
          <td> Temperature Rating (℉): </td>
          <td> <%= @sleepingbag.temp_rating %> </td>
        </tr>
        <tr>
          <td> Size: </td>
          <td> <%= @sleepingbag.size %> </td>
        </tr>
        <tr>
          <td> Condition: </td>
          <td> <%= @sleepingbag.condition %> </td>
        </tr>
        <tr>
          <td> Fill: </td>
          <td> <%= @sleepingbag.fill %> </td>
        </tr>
      </tbody>
    </table>
    <% if current_user == @sleepingbag.user %>
      <%= link_to "Edit sleepingbag", edit_sleepingbag_path, class: "button radius tiny" %>
    <% end %>
  </div>
  <div class="medium-6 medium-centered columns text centered float left">
    <% if @sleepingbag.image_file_name %>
      <%= image_tag @sleepingbag.image.url(:medium) %>
    <% end %>
  </div>
</div>
