<div class="row">
  <div class="medium-12 medium-centered text-center columns">
    <h1>WELCOME TO THE HAPPY CAMPER GEAR EXCHANGE</h1>
  </div>
</div>

<br>

<div class="row">
  <div class="medium-9 medium-centered text-center columns " id="box">
    <h3>Find Your Gear</h3>
    <%= form_tag search_index_path, method: "get" do |f| %>
      <ul class="inline-list">
        <%= radio_button_tag(:search_category, "Backpack", checked: 'checked') %>
        <%= label_tag(:search_category, "Backpacks") %>
        <%= radio_button_tag(:search_category, "Tent") %>
        <%= label_tag(:search_category, "Tents") %>
        <%= radio_button_tag(:search_category, "Sleepingbag") %>
        <%= label_tag(:search_category, "Sleepingbags") %>
      </ul>
      <%= text_field_tag(:search, nil, placeholder: "Search By Model Name or Brand") %>
      <%= submit_tag "Search", class: "button radius small" %>
    <% end %>
  </div>
</div>
