<div class="row">
  <div class="medium-12 medium-centered text-center columns">
    <h1>WELCOME TO THE HAPPY CAMPER GEAR EXCHANGE</h1>
  </div>
</div>

<br>

<div class="row">
  <div class="medium-9 medium-centered text-center columns" id="box">
    <h3> Search </h3>
    <ul class="inline-list">
      <%= check_box_tag(:backpack) %>
      <%= label_tag(:backpack, "Backpack") %>
      <%= check_box_tag(:tent) %>
      <%= label_tag(:tent, "Tent") %>
      <%= check_box_tag(:sleepingbag) %>
      <%= label_tag(:sleepingbag, "Sleepingbag") %>
    </ul>
  </div>
</div>
