<div class="row">
  <div class="medium-12 medium-centered text-center columns">
    <h1>WELCOME TO THE HAPPY CAMPER GEAR EXCHANGE</h1>
  </div>
</div>

<br>

<div class="row">
  <div class="medium-9 medium-centered text-center columns" id="box">
    <h3>Find Your Gear</h3>
    <%= form_tag search_index_path, method: "get" do |f| %>
      <ul class="inline-list">
        <div class="medium-4 columns float left" id="backpack_button">
          <%= radio_button_tag(:search_category, "Backpack", checked: 'checked') %>
          <%= label_tag(:search_category, "Backpacks") %>
        </div>
        <div class="medium-4 columns float left" id="tent_button">
          <%= radio_button_tag(:search_category, "Tent") %>
          <%= label_tag(:search_category, "Tents") %>
        </div>
        <div class="medium-4 columns float left" id="sleepingbag_button">
          <%= radio_button_tag(:search_category, "Sleepingbag") %>
          <%= label_tag(:search_category, "Sleepingbags") %>
        </div>
      </ul>
      <%= text_field_tag(:location, nil, placeholder: "Search by City & State, or Zip Code") %>
      <%= submit_tag "Search", class: "button radius small" %>

  </div>

  <div class="medium-9 medium-centered text-center columns" id="flip">
    <div class="button radius success tiny" id="search_button">Advanced Search</div>
  </div>
  <div class="medium-9 medium-centered text-center columns" id="panel">
    <div class="medium-12 medium-centered columns" id="backpack">
      <h3> Backpacks </h3>

      <%= label_tag(:search, "Search by Model Name or Brand") %>
      <%= text_field_tag(:search) %>

      <%= label_tag(:capacity) %>
      <%= select_tag :capacity, options_for_select(15..115), include_blank: true %>

      <%= label_tag(:size) %>
      <%= select_tag :size, options_for_select(Backpack::SIZES), include_blank: true %>

      <%= label_tag(:gender) %>
      <%= select_tag :gender, options_for_select(Backpack::GENDER), include_blank: true %>

      <%= label_tag(:condtion) %>
      <%= select_tag :condtion, options_for_select(Backpack::CONDITION), include_blank: true %>
    </div>

    <div class="medium-12 medium-centered columns" id="tent">
      <h3> Tents </h3>

      <%= label_tag(:search, "Search by Model Name or Brand") %>
      <%= text_field_tag(:search) %>

      <%= label_tag(:capacity) %>
      <%= select_tag :capacity, options_for_select(1..8), include_blank: true %>

      <%= label_tag(:use) %>
      <%= select_tag :use, options_for_select(Tent::USE), include_blank: true %>

      <%= label_tag(:condtion) %>
      <%= select_tag :condtion, options_for_select(Backpack::CONDITION), include_blank: true %>
    </div>

    <div class="medium-12 medium-centered columns" id="sleepingbag">
      <h3> Sleepingbags </h3>

      <%= label_tag(:search, "Search by Model Name or Brand") %>
      <%= text_field_tag(:search) %>

      <%= label_tag(:temp_rating) %>
      <%= select_tag :temp_rating, options_for_select(50.downto(-40)), include_blank: true %>

      <%= label_tag(:size) %>
      <%= select_tag :size, options_for_select(Sleepingbag::SIZES), include_blank: true %>

      <%= label_tag(:fill) %>
      <%= select_tag :fill, options_for_select(Sleepingbag::FILL), include_blank: true %>

      <%= label_tag(:condtion) %>
      <%= select_tag :condtion, options_for_select(Sleepingbag::CONDITION), include_blank: true %>
    </div>
  </div>
</div>
<% end %>
