<h1 class="text-center">WELCOME TO THE HAPPY CAMPER GEAR EXCHANGE</h1>

<br>

<div class="row">
  <div class="medium-9 medium-centered text-center columns" id="box">
    <h3>Find Gear</h3>
    <%= form_tag search_index_path, method: "get" do %>
      <ul class="inline-list">
        <div class="medium-4 columns float left" id="backpack_button">
          <%= radio_button_tag(:search_category, "Backpack", checked: 'checked') %>
          <%= label_tag(:search_category, "Backpacks") %>
        </div>
        <div class="medium-4 columns float left" id="tent_button">
          <%= radio_button_tag(:search_category, "Tent") %>
          <%= label_tag(:search_category, "Tents") %>
        </div>
        <div class="medium-4 columns float left" id="sleepingbag_button">
          <%= radio_button_tag(:search_category, "Sleepingbag") %>
          <%= label_tag(:search_category, "Sleepingbags") %>
        </div>
      </ul>
      <div class="row">
        <div class="medium-9 text-left columns float left">
          <%= label_tag "Enter Your Location" %>
          <%= text_field_tag(:location, nil, placeholder: "Search by City & State, or Zip Code", required: true) %>
        </div>
        <div class="medium-3 columns float left">
          <%= label_tag "Search Radius (miles)" %>
          <%= select_tag :radius, options_for_select([5, 10, 20, 50, 100, 300], selected: 100) %>
      </div>
      </div>
      <%= submit_tag "Find Gear", class: "button radius small" %>

  </div>

  <div class="medium-9 medium-centered text-center columns" id="flip">
    <div class="button radius success tiny" id="search_button">Advanced Search</div>
  </div>
  <div class="medium-9 medium-centered text-center columns" id="panel">
    <div class="medium-12 medium-centered columns" id="backpack">
      <h3> Backpacks </h3>

      <%= text_field_tag('backpack[search]', nil, placeholder: "Seach by Model Name or Brand") %>

      <div class="row">
        <div class="medium-5 columns float left">
          <%= label_tag("Capacity (min)") %>
          <%= select_tag 'backpack[capacity][min]', options_for_select(15..115), include_blank: true %>
        </div>

        <div class="medium-5 columns float right">
          <%= label_tag("Capacity (max)") %>
          <%= select_tag 'backpack[capacity][max]', options_for_select(15..115), include_blank: true %>
        </div>
      </div>

      <%= label_tag(:size) %>
      <%= select_tag 'backpack[size]', options_for_select(Backpack::SIZES), include_blank: true %>

      <%= label_tag(:gender) %>
      <%= select_tag 'backpack[gender]', options_for_select(Backpack::GENDER), include_blank: true %>

      <%= label_tag(:condtion) %>
      <%= select_tag 'backpack[condtion]', options_for_select(Backpack::CONDITION), include_blank: true %>
    </div>

    <div class="medium-12 medium-centered columns" id="tent">
      <h3> Tents </h3>

      <%= text_field_tag('tent[search]', nil, placeholder: "Seach by Model Name or Brand") %>

      <%= label_tag(:capacity) %>
      <%= select_tag 'tent[capacity]', options_for_select(1..8), include_blank: true %>

      <%= label_tag(:use) %>
      <%= select_tag 'tent[use]', options_for_select(Tent::USE), include_blank: true %>

      <%= label_tag(:condtion) %>
      <%= select_tag 'tent[condition]', options_for_select(Backpack::CONDITION), include_blank: true %>
    </div>

    <div class="medium-12 medium-centered columns" id="sleepingbag">
      <h3> Sleepingbags </h3>

      <%= text_field_tag('sleepingbag[search]', nil, placeholder: "Seach by Model Name or Brand") %>

      <div class="row">
        <div class="medium-5 columns float left">
          <%= label_tag("Temperature Rating (min)") %>
          <%= select_tag 'sleepingbag[temp_rating][min]', options_for_select(50.downto(-40)), include_blank: true %>
        </div>

        <div class="medium-5 columns float right">
          <%= label_tag("Temperature Rating (max)") %>
          <%= select_tag 'sleepingbag[temp_rating][max]', options_for_select(50.downto(-40)), include_blank: true %>
        </div>
      </div>

      <%= label_tag(:size) %>
      <%= select_tag 'sleepingbag[size]', options_for_select(Sleepingbag::SIZES), include_blank: true %>

      <%= label_tag(:fill) %>
      <%= select_tag 'sleepingbag[fill]', options_for_select(Sleepingbag::FILL), include_blank: true %>

      <%= label_tag(:condtion) %>
      <%= select_tag 'sleepingbag[condition]', options_for_select(Sleepingbag::CONDITION), include_blank: true %>
<% end %>
    </div>
  </div>
  <br>
  <div class="medium-9 medium-centered text-center columns" id="box">
    <h3> Trip Planner </h3>
    <h5> Not sure what the weather will be like where you're going? <br> Let our Trip Planner help you out! </h5>
      <%= form_tag trips_path, method: "get" do %>

        <%= text_field_tag(:destination, nil, placeholder: "Enter City & State or Zip for Your Destination", required: true) %>

        <div class="row">
          <div class="medium-3 columns float left">
            <%= label_tag("Participants") %>
            <%= select_tag :people, options_for_select(1..8), required: true %>
          </div>
          <div class="medium-4 columns float right">
            <%= label_tag("End Date") %>
            <%= date_field :date, :end_date, required: true %>
          </div>
          <div class="medium-4 columns float right">
            <%= label_tag("Start Date") %>
            <%= date_field :date, :start_date, required: true %>
          </div>
        </div>

        <%= submit_tag "Search", class: "button radius small" %>
      <% end %>
  </div>
</div>
