<div class="row">
  <% if @backpack.errors.present? %>
    <div class="large-12 alert-box alert" data-alert>
      <ul>
        <% @backpack.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
<br>
<div class="row">
  <div class="medium-6 medium-centered columns" id="box">
    <h2 class="text-center">Edit Backpack</h2>

      <%= form_for @backpack do |f| %>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :brand %>
        <%= f.text_field :brand %>

        <%= f.label "Capacity (in Liters)" %>
        <%= f.select :capacity, options_for_select(15..115, @backpack.capacity) %>

        <%= f.label :size %>
        <%= f.select :size, options_for_select(Backpack::SIZES, @backpack.size) %>

        <%= f.label :gender %>
        <%= f.select :gender, options_for_select(Backpack::GENDER, @backpack.gender) %>

        <%= f.label :condition %>
        <%= f.select :condition, options_for_select(Backpack::CONDITION, @backpack.condition) %>

        <%= f.label :image %>
        <%= f.file_field :image %>

        <%= f.submit "Update", class: "button radius small" %>
      <% end %>

  </div>
</div>
