<div class="row">
  <div class="medium-12 medium-centered columns text centered">
    <h3><%= @backpack.name %></h3>
    <h5> User: <%= @backpack.user.username %> </h5>
  </div>
</div>

<div class="row">
  <div class="medium-12 medium-centered columns text centered">
    <ul>
      <li> Brand: <%= @backpack.brand %> </li>
      <li> Capacity (in Liters): <%= @backpack.capacity %> </li>
      <li> Size: <%= @backpack.size %> </li>
      <li> Condition: <%= @backpack.condition %> </li>
      <li> Gender: <%= @backpack.gender %> </li>
    </ul>
  </div>
</div>
