<!DOCTYPE html>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Patrick+Hand' rel='stylesheet' type='text/css'>
  <title>HappyCamper</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
      <nav class="tab-bar">
        <section class="left-small">
          <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
        </section>

        <section class="top-bar-section">
          <ul class="right">
            <li class="divider"></li>
            <% if current_user %>
              <li><%= link_to 'My Account', user_path(current_user.id) %></li>
              <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
            <%- else -%>
              <li><%= link_to 'Sign Up', new_user_registration_path %></li>
              <li><%= link_to 'Sign In', new_user_session_path %></li>
            <% end %>
          </ul>
        </section>
      </nav>

      <aside class="left-off-canvas-menu">
        <ul class="off-canvas-list">
          <li><label>Menu</label></li>
          <li><%= link_to "Home", root_path %>
          <li><%= link_to "Backpacks", backpacks_path %></li>
          <li><%= link_to "Tents", tents_path %></li>
          <li><%= link_to "Sleepingbags", sleepingbags_path %></li>
        </ul>
      </aside>

      <%- flash.each do |key, value| -%>
        <div class="flash flash-<%= key %>">
          <%= value %>
        </div>
      <%- end -%>

      <%= yield %>

      <a class="exit-off-canvas"></a>

    </div>
  </div>
  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
